*{
    box-sizing: border-box
}

html {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    background-color: #0F1113
}

html, body{
    margin: 0;
}

/* Header */

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 60px;
    align-items: center;
    border-bottom: solid 1px #fff;
    backdrop-filter: blur(5px);
    background: rgba(15, 17, 19, .4)
  }

h1 {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    padding: 70px 70px;
}

nav li{
    display: inline-block;
    list-style: none;
    padding-right: 70px;
    color: #fff;
    font-size: 14pt;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: #BAED37;

  }

nav a.active {
    color: #cecece;
    opacity: 40%;
}

/* ---------------------------------------------------------------------------------------- */

/* Grid */

#grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  column-gap: 30px;
  padding: 0 75px;
  width: 100%;
  margin-bottom: 60px;
}

/* Content */

.presentation{
    padding-top: 100px;
    padding-bottom: 70px;
    grid-column: span 9;
    font-size: 100px;
    font-weight: 350;
    color: #FFF;
    line-height: 0.9;
}


.Musae {
    grid-column: span 4;
    text-decoration: none;
}


.Otzi {
    grid-column: span 3;
    text-decoration: none;
}

.Antifem {
    grid-column: span 3;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.sectionTitle {
    font-size: 20px;
    font-weight: 400;
    color: #FFF;
    opacity: 40%;
    text-transform: uppercase;
    grid-column: span 10;
    padding-bottom: 30px;
}

.projectTag {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    opacity: 50%;
    text-transform: uppercase;
}

.projectTagSmall {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    opacity: 50%;
    text-transform: uppercase;
}



a.project-title {
    font-size: 40px;
    font-weight: 400;
    color: #FFF;
}

a.project-title-small {
    font-size: 32px;
    font-weight: 400;
    color: #FFF;
}

a.project-description{
    font-size: 26px;
    font-weight: 300;
    color: #FFF;
    padding-top: 20%;
}

a.project-description-small{
    font-size: 20px;
    font-weight: 300;
    color: #FFF;
}

footer{
    padding: 30px 70px 30px 70px;
    background-color: #BAED37;
}

footer li{
    display: inline-block;
    color:#000;
    font-size: 18px;
}

footer a {
    color:#000;
    text-align: center;
    margin-right: 30px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
  }

  footer a:hover {
    color: #fff;
  }

  .navigationBottom {
    padding: 30px 70px 50px 70px;
    display: flex;
    justify-content: space-between;
}
.navigationBottom a {
    font-size: 14pt;
    text-decoration: none;
    color: #fff;
}

.navigationBottom a:hover {
    color: #BAED37;
  }

.navigationBottom i {
    padding-left: 5px;
    padding-right: 5px;
}

.nextProject {
    position: absolute;
    align-items: right;
}

  /* ---------------------------------------------------------------------------------------- */

  /* Project pages */

.cit{
    font-size: 36px;
    color: #fff;
    grid-column: 3 / span 6;
    padding-top: 200px;
    padding-bottom: 100px;
  }

.img1 {
    grid-column: 2 / span 8;
    padding-bottom: 60px;
  }

.img2 {
      grid-column: 1 / span 10;
      padding-bottom: 60px;
      padding-top: 60pxs;
  }

  .img3 {
    grid-column: 3 / span 6;
    padding-top: 30px;
    padding-bottom:30px;
  }
  
.img4{
    grid-column: span 10;
    padding-top: 60px;
    padding-bottom:30px;
}

.project-text {
      font-size: 18px;
      line-height: 30px;
      color: #fff;
      grid-column: 3 / span 6;
      padding-bottom: 10px;
}

.projectChapter {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    opacity: 50%;
    text-transform: uppercase;
    grid-column: 3/span 6;
}

.link {
    color:#fff;
    text-decoration: none;
    font-weight: 600;
}

.link:hover {
    color: #BAED37;
}

.btn {
        grid-column: 3 / span 1; 
        border: 0;
        border-radius: 2rem;
        background: #fff;
        color: #000;
        line-height: 1.2;
         white-space: nowrap;
        text-decoration: none;
        font-size: 12pt;
        padding: 1rem 1.5rem;
        margin: 0.5rem;
        cursor: pointer;
        align-content: center;
        margin-bottom: 60px;
    }

    .btn:hover { 
        background:#BAED37;
    }

    i {
        padding-left: 7px;
        position: relative;
        top: 2px;
    }
    .ph-arrow-up-right{
        padding-left: 0px;
    }

    .navigationBottom {
        padding: 30px 30px 50px 30px;
        display: flex;
        justify-content: space-between;
    }
    .navigationBottom a {
        font-size: 14pt;
        text-decoration: none;
        color: #fff;
    }
    
    .navigationBottom a:hover {
        color: #BAED37;
      }
    
    .navigationBottom i {
        padding-left: 5px;
        padding-right: 5px;
    }

/* ---------------------------------------------------------------------------------------- */
/* About me page */

.myPresentation {
    grid-column: 1/span 6;
    padding-top: 150px;
    color:#fff;
    font-size: 24pt;
    line-height: 1.5;
    padding-bottom: 60px;
}

.sectionTitlePresentation {
    font-size: 20px;
    font-weight: 400;
    color: #FFF;
    opacity: 40%;
    text-transform: uppercase;
    grid-column: span 10;
    padding-bottom: 10px;
}

.img5 {
    grid-column: 7/span 4;
    padding-top: 150px;
}

.experience {
    list-style: none;
    grid-column: 1/span 6;
    color: #fff;
    font-size: 20px;
    text-align: left;
    border-spacing: 20px;
}

.experience td {
    padding: 15px;
    border-bottom: 2px solid #2f3438;
    vertical-align: top;
}
  /* ---------------------------------------------------------------------------------------- */

  /* Add media queries for responsiveness */

  @media screen and (max-width: 768px) {
   
    .header li {
      float: none;
      display: inline-block;
      text-align: right;
      padding-left: 30px;
    }

    #grid {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        column-gap: 20px;
        padding: 0 40px;
        width: 100%;
        margin-bottom: 60px;
      }

    .presentation{
        font-size: 60px;
        line-height: 1;
    }

    .Musae {
        grid-column: 1 / span 10;
        padding-bottom: 60px;
    }

    .Otzi {
        grid-column: 1 / span 5;
    }

    .Antifem {
        grid-column: 6 / span 5;
    }

    .myPresentation {
        grid-column: span 10;
        padding-top: 120px;
        color:#fff;
        font-size: 18pt;
        line-height: 1.5;
    }
    
    .sectionTitlePresentation {
        font-size: 18px;
        font-weight: 400;
        color: #FFF;
        opacity: 40%;
        text-transform: uppercase;
        grid-column: span 10;
    }
    
    .img5 {
        grid-column: span 10;
        padding-top: 30px;
        padding-bottom: 80px;
    }
    
    .experience {
        list-style: none;
        grid-column: span 10;
        color: #fff;
        font-size: 18px;
        line-height: 1;
        text-align: left;
        border-spacing: 20px;
    }
    
    .experience td {
        padding: 15px;
        border-bottom: 2px solid #2f3438;
        vertical-align: top;
    }
}


@media screen and (max-width: 500px) {
           
        h1 {
            font-size: 14pt;
            font-weight: 400;
            text-decoration: none;
            color: #fff;
            padding: 30px 30px;
        }
        
        nav li{
            display: inline-block;
            list-style: none;
            padding-right: 30px;
            color: #fff;
            font-size: 14pt;
        }
        
        nav a{
            color: #fff;
            text-decoration: none;
            font-size: 14pt;
        }

        #grid {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            column-gap: 20px;
            padding: 0 30px;
            width: 100%;
            margin-bottom: 30px;
          }

        .presentation{
            padding-top: 80px;
            padding-bottom: 30px;
            font-size: 32pt;
            line-height: 1.2;
        }

        .sectionTitle, .projectTag, .projectTagSmall {
            font-size: 14pt;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .Musae, .Otzi, .Antifem {
            grid-column: span 10;
            image-resolution: 100%;
            padding-bottom: 70px;
        }

        a.project-title, a.project-title-small {
            font-size: 20pt;
        }

        a.project-description, a.project-description-small {
            font-size:16pt;
        }

        footer{
            padding: 30px 30px 30px 30px;
            background-color: #BAED37;
        }
        
        footer li{
            display: inline-block;
            color:#000;
            font-size: 18px;
            margin-bottom: 5px;
            margin-top: 5px;
        }
        
        footer a {
            color:#000;
            text-align: center;
            margin-right: 30px;
            text-decoration: none;
            font-size: 18px;
            line-height: 25px;
          }

          /* Project pages */

          .cit{
            font-size: 24px;
            color: #fff;
            grid-column: span 10;
            padding-top: 120px;
            padding-bottom: 80px;
          }

          .img1, .img2, .img3, .img4 {
            grid-column: span 10;
            padding-bottom: 30px;
          }


      
        .project-text {
            font-size: 18px;
            line-height: 30px;
            color: #fff;
            grid-column: 1 / span 10;
            padding-bottom: 10px;
        }
      
        .projectChapter {
          font-size: 16px;
          font-weight: 400;
          color: #fff;
          opacity: 50%;
          text-transform: uppercase;
          grid-column: 1 / span  10;
        }
      
        .link {
          color:#fff;
          text-decoration: none;
          font-weight: 600;
        }
      
        .link:hover {
           color: #BAED37;
         }
      
        .btn {
              grid-column: 1 / span 1; 
              border: 0;
              border-radius: 2rem;
              background: #fff;
              color: #000;
              line-height: 1.2;
               white-space: nowrap;
              text-decoration: none;
              font-size: 12pt;
              padding: 1rem 1.5rem;
              margin: 0.5rem;
              cursor: pointer;
              align-content: center;
              margin-bottom: 60px;
          }
      
          .btn:hover { 
              background:#BAED37;
          }
      
          i {
              padding-left: 7px;
              position: relative;
              top: 2px;
          }
          .ph-arrow-up-right{
              padding-left: 0px;
          }


          /* About me page */

          .myPresentation {
            grid-column: span 10;
            padding-top: 120px;
            color:#fff;
            font-size: 18pt;
            line-height: 1.5;
        }
        
        .sectionTitlePresentation {
            font-size: 18px;
            font-weight: 400;
            color: #FFF;
            opacity: 40%;
            text-transform: uppercase;
            grid-column: span 10;
        }
        
        .img5 {
            grid-column: span 10;
            padding-top: 30px;
            padding-bottom: 80px;
        }
        
        .experience {
            list-style: none;
            grid-column: span 10;
            color: #fff;
            font-size: 18px;
            line-height: 1;
            text-align: left;
            border-spacing: 20px;
        }
        
        .experience td {
            padding: 15px;
            border-bottom: 2px solid #2f3438;
            vertical-align: top;
        }
 
        }